/* ----------------------------------------------------- */

/* Navbar Shadow */

#navBar {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: #dedede;
  transition: 0.2s;
  display: flex;
}

.floatingNav {
  width: calc(100vh - 100px);
  border-radius: 2px;
  box-shadow: 0px 1px 10px red;
}

/* -------------------------------------------- */
.navBar {
  display: flex;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s;
}

.navBar.flex {
  display: flex;
}

.navBar.flex.flex-col {
  flex-direction: column;
}

.navBar.pb-2rem {
  padding-bottom: 2rem;
}

.navBar.bg-white {
  background-color: #fff;
}

.navBar.justify-between {
  justify-content: space-between;
}

@media (min-width: 1080px) {
  .navBar.pl-3rem {
    padding-left: 3rem;
  }
}
