* {
  font-family: "Kanit", sans-serif;
}

.ant-picker-dropdown {
  width: fit-content;
}

.transition-height {
  transition: height 0.5s ease-in-out;
}

.dropdownContainer {
  height: 0;
  transition: 1s;
}

.opened {
  height: 300px;
  transition: 1s;
  z-index: 100;
}

.ripple-button {
  border-radius: 4px;
  border: none;
  margin: 8px;
  padding: 14px 24px;
  background: linear-gradient(
    90deg,
    rgba(254, 84, 28, 1) 0%,
    rgba(239, 55, 68, 1) 100%
  );
  color: #fff;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.ripple-button > .ripple {
  width: 20px;
  height: 20px;
  position: absolute;
  background: rgb(255, 143, 105) 0%;
  display: block;
  content: "";
  border-radius: 9999px;
  opacity: 1;
  animation: 0.9s ease 1 forwards ripple-effect;
}

@keyframes ripple-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(10);
    opacity: 0.375;
  }
  100% {
    transform: scale(35);
    opacity: 0;
  }
}

.ripple-button > .content {
  position: relative;
  z-index: 2;
}

span.rdrInRange {
  background: orange;
}

span.rdrStartEdge,
span.rdrEndEdge {
  background: orange;
}

.ant-select {
  width: fit-content;
}
